*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #F5F5F5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
nav{
  margin: 2% 0;
}
.container{
  max-width: 90%;
  margin: 0 auto;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main{
  display: flex;
}
#left{
  flex:7;
}
.repo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 20px;
}
.repos {
  border-radius: 10px;
  background-color: #FAF8FF;
  padding: 20px;
  color: #002147;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.repo-link {
  color: #002147;

}
.repo-items {
  align-items: center;
  background-color: #70FACB;
  margin: 10px;
}
#right{
  flex:3;
  background-color: #002147;
  padding: 20px;
  color: #F1F1E6;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.profile-img{
  width: 370px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 30px 0;
}

/* .pagination-num {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
} */

/* .pagination-child,
.prev,
.next {
  opacity: 1;
  border: 1px solid #000;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.pagination-child:hover,
.prev:hover,
.next:hover {
  transform: scale(1.1);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */
