*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #F5F5F5;
}
a {
  text-decoration: none;
}
.container{
  max-width: 80%;
  margin: 0 auto;
  
 
  padding: 40px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main{
  display: flex;
}
#left{
  flex:7;
}
.repo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.repos {
  border: 1px solid #000;
  background-color: #FAF8FF;
}
#right{
  flex:3;
  background-color: #002147;
  padding: 20px;
  color: #F1F1E6;
}
.profile-img{
  height: 300px;
}
