*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 80%;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 40px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main{
  display: flex;
}
#left{
  flex:7;
}
#right{
  flex:3;
  background-color: #002147;
  padding: 20px;
}
.profile-img{
  height: 300px;
}